{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'public/style.css' %}">
    <link rel="stylesheet" href="{% static 'public/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    

    
       <h1> Wud u like to <a href="{% url 'backend:login_view'%}">login</a> to into ur portal 

       </h1>

       <script src="{% static 'public/jquery.js' %}"></script>
       <script src="{% static 'public/main.js' %}"></script>

</body>
</html>